Repository a-plasencia/Top-Dogs: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, markuplint --fix, eslint --fix

Added a div [data-view='find-dogs'] to the html.
  css/layout.css
  css/styles.css
  index.html
Due: stylelint --fix, markuplint --fix

Before you click on the Get Dog button, there is a placeholder image in the center.
  css/styles.css
  images/placeholder-image-square.jpg
  index.html
Due: stylelint --fix, markuplint --fix

Added an unordered list to the [data-view='find-dogs'] html and listened for a 'click' event on the Get Dog button, which then generates a list of three dog images randomly from the dog-ceo api.
  css/styles.css
  index.html
  js/main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

Ensure that the three images wrap or don't wrap depending on if the viewport is mobile or desktop.
  css/layout.css
  css/styles.css
  images/dog-image-01.jpeg
  images/dog-image-02.jpeg
  images/dog-image-03.jpeg
  index.html
Due: stylelint --fix, markuplint --fix

Make all three dog images presentable by using css as well as putting a card container around them. Added logic where if three pictures already exist, remove those and generate three new pictures.
  css/styles.css
  index.html
  js/main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

Removed all CSS properties that had no effect. Tested all functionality again in a private browsing session. Fixed all errors.
  css/styles.css
Due: stylelint --fix

Fixed offcentered pictures.
  css/styles.css
  index.html
Due: stylelint --fix, markuplint --fix

Minor class name change.
  index.html
Due: markuplint --fix

On an example card, put the appropiate breed name and make sure the text matches the figma.
  css/styles.css
  index.html
Due: stylelint --fix, markuplint --fix

Get the names of all three dogs on each api call. As well as putting the appropiate names under each dog.
  css/styles.css
  index.html
  js/main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

Ensure that each name and image look good on both desktop and mobile viewports.
  index.html
Due: markuplint --fix

Removed all CSS properties that have no effect. Tested all functionality again in a private browsing session. Fixed all errors.
  index.html
Due: markuplint --fix

Go to font awesome and get the star icon and filled in star icon.
  css/styles.css
  index.html
Due: stylelint --fix, markuplint --fix

Reformated the get3Images function to call a new function called renderDogs which holds all of the DOM tree functionality. Also got the star icon to appear to the right of the breed name.
  css/styles.css
  index.html
  js/data.js
  js/main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

Have the icon change class name when clicked.
  js/main.js
Due: eslint --fix

Made the star change without the use of a global variable.
  js/main.js
Due: eslint --fix

Increment the favorites id and verifed that the favorites are saved to the local storage along with the rest of the data model on page reload.
  js/data.js
Due: eslint --fix

Remove all CSS styling that had no affect or was otherwise unecessary. Tested all functionality again in a private browsing session. Fixed all errors.
  css/styles.css
Due: stylelint --fix

Add a sibiling div[data-view='favorite-dogs'] to the HTML.
  index.html
Due: markuplint --fix

Add an empty unordered list to the div[data-view='favorite-dogs'] element in the HTML.
  index.html
Due: markuplint --fix

If there are no recorded entries in the data model. Then write a line saying that 'No favorites have been recorded' in the favorite-dogs page.
  css/styles.css
  index.html
  js/main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

Added dummy journal entries to the HTML and ensure that both the desktop and mobile view match the wireframes.
  index.html
Due: markuplint --fix

Add a navigation item to the navbar called 'Favorites'.
  css/styles.css
  index.html
Due: stylelint --fix, markuplint --fix

Fixed minor spacing issue and made sure the anchor button to the 'find-dogs' view was inside the 'favorite-view'.
  css/styles.css
Due: stylelint --fix

Ensure that clicking the 'Find Dog' and 'Favorites' button in the navbar take you to the respective pages.
  index.html
  js/main.js
Due: markuplint --fix, eslint --fix

Ensure that refreshing the page shows the same view as before refreshing.
  js/main.js
Due: eslint --fix

Fixed duplicating entry bug.
  js/main.js
Due: eslint --fix

Ensure that favoriting more dogs also creates a new DOM tree for it and add it to the page.
  js/main.js
Due: eslint --fix

Tested all functionality again in a private browsing session.
  js/main.js
Due: eslint --fix

Remove all CSS styling that had no affect or was otherwise unnecessary and fixed all errors.
  js/data.js
Due: eslint --fix

Made a modal.
  css/styles.css
  index.html
Due: stylelint --fix, markuplint --fix

Make a 'click listener for the star icons in the unordered list element in the 'favorite-dogs' view.
  index.html
  js/main.js
Due: markuplint --fix, eslint --fix

Remove the entry from the data model and the entry's DOM tree from the page if the user clicks 'yes'.
  js/data.js
  js/main.js
Due: eslint --fix

Removed all CSS styling that had no affect or was otherwise unnecessary. Tested all functionality again in a private browsing session.
  css/layout.css
  index.html
Due: stylelint --fix, markuplint --fix

Cleaned up some code and readjusted dog card sizes.
  css/styles.css
  images/dog-image-01.jpeg
  images/dog-image-02.jpeg
  images/dog-image-03.jpeg
Due: stylelint --fix

Changed name of 'a' elements to better match there purpose and cleaned up any unnecessary CSS.
  css/layout.css
  css/styles.css
  index.html
  js/main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

Decided on and chose appropiate color palette for the loading symbol.
  css/styles.css
  index.html
Due: stylelint --fix, markuplint --fix

Loading symbol properly comes and goes when clicking the api request.
  css/styles.css
  js/main.js
Due: stylelint --fix, eslint --fix

Need to make an error message appear when the network isn't online.
  css/styles.css
  index.html
  js/main.js
Due: stylelint --fix, markuplint --fix, eslint --fix

Added error message listener and tested functionality via chrome dev tools.
  css/styles.css
  js/main.js
Due: stylelint --fix, eslint --fix

Path conditions:
  stylelint --fix: any of: *.css
  markuplint --fix: any of: *.html
  eslint --fix: any of: *.{js,jsx}
